
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-grids">

    <div class="single_top">
        <div class="single_grid">
            <div id="cartContent">
                <table class="table">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Tên sản phẩm</td>
                            <td>Hình ảnh</td>
                            <td>Giá</td>
                            <td>Số lượng</td>
                            <td>Thành tiền</td>
                            <td>#</td>
                        </tr>
                    </thead>
                    <tbody id="cartBody">
                    </tbody>
                </table>
            </div>

            <button class="btn btn-success" id="btnContinue">Tiếp tục mua hàng</button>
            <button class="btn btn-danger" id="btnDeleteAll">Xóa giỏ hàng</button>
            <button class="btn btn" id="btnCheckout">Thanh toán</button>

            <div class="pull-right">
                Tổng tiền: <span id="lblTotalOrder"></span>
            </div>

            <div id="divCheckout" style="display:none;">
                <div class="reservation_top">
                    <div class="contact_right">
                        <h3>Thanh toán</h3>
                        <div class="contact-form">
                            <form method="post" id="frmPayment">

                                @if (Request.IsAuthenticated)
                                {
                                    <label>
                                        <input type="checkbox" id="chkUserLoginInfo" />
                                        Sử dụng thông tin đăng nhập
                                    </label>
                                }

                                <div class="form-group">
                                    <input type="text" class="textbox form-control" id="txtName" name="name" placeholder="Họ tên">
                                </div>

                                <div class="form-group">
                                    <input type="text" class="textbox form-control" id="txtAddress" name="address" placeholder="Địa chỉ">
                                </div>

                                <div class="form-group">
                                    <input type="text" class="textbox form-control" id="txtEmail" name="email" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="textbox form-control" id="txtPhone" name="phone" placeholder="Điện thoại">
                                </div>

                                <div class="form-group">
                                    <textarea value="" id="txtMessage form-control">Message</textarea>
                                </div>
                                <div class="form-group">
                                    <input type="button" id="btnCreateOrder" value="Thanh toán">
                                </div>

                                <div class="clearfix"> </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>


            <div class="clearfix"> </div>
        </div>

    </div>
</div>


<script id="tplCart" type="x-tmpl-mustache">
  <tr>
    <td>{{ProductId}}</td>
    <td>{{ProductName}}</td>
    <td><img src="/Assets/Images/{{Image}}" height="50px" /></td>
    <td>{{PriceF}} VNĐ</td>
    <td><input type="number" data-id="{{ProductId}}" data-price="{{Price}}" value="{{Quantity}}" class="input txtQuantity" /></td>
    <td id="amount_{{ProductId}}">{{Amount}}</td>
    <td><button class="btn btn-danger btnDeleteItem" data-id="{{ProductId}}"><i class="fas fa-times"></i></button></td>
  </tr>
</script>



<style>
    .btn{
        cursor : pointer;
    }
    .single_top{
        width : 90% !important;
    }

    #cartBody img{
        height : 50px !important;
    }

    .txtQuantity {
        height: 22px;
        width: 62px;
        text-align: center;
        font-size: 16px;
    }

    .table > tbody > tr > td, .table > thead > tr > td
    {
        text-align:center;
    }

</style>





